<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../styles/estilo.css"/>
    <title>Página Contato</title>

  </head>
  <body>
    <nav class="menu">
      <a href="/">
      <img
      class="logo"
        width="100"
        src="https://midias.agazeta.com.br/2020/05/01/ayrton-senna-conquistou-tres-titulos-mundiais-de-formula-1-e-se-tornou-um-dos-maiores-pilotos-da-historia-da-categoria-238593-article.jpg"
        alt="LOGO SITE"
      />

      <ul>
        <a href="/contato">CONTATO</a>
        <a href="/sobre">SOBRE </a>
        <a class="btn-logar" href="/login">LOGAR</a>
      </ul>
    </nav>
    <main>
        <h3>PAGINA DE CONTATO</h3>
    </main>
  </body>
</html>
